<div class="text-center">
  <h2>{{posts.title}}</h2> 
  {{!-- {{title}} --}}
  {{!-- <p>{{{get_emoji}}}</p>
  <p>{{description}}</p> --}}
  
  <p>
    {{posts.content}}
  </p>
  
  <p>Created by {{posts.user.name}} on {{format_date posts.date_created}}</p>
</div>


<form class="form new-comment-form">
  <div class="form-group">
        <label for="comment-title">Post a comment:</label>
        <input class="form-input" type="text" id="comment-title" name="comment-title" />
  </div>
  <div class="form-group">
        <button type="submit" class="btn btn-primary id-button" id="{{posts.id}}">post</button>
  </div>

  {{!-- connect this to it's own js file and have the handlebars pull the post id somehow --}}
</form>

<h3>Comments</h3>

{{#each posts.comments as |comment|}}
  <div>
    <p>{{comment.text}} - Posted by: {{comment.user.name}} on {{format_date comment.date_created}}</p>
  </div>
{{/each}}

<script src="/js/singlepost.js"></script>
